<div id="jb" class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Here comes some basic information / description of the Sumatra project and this website. With this we can get people engaged quickly and can direct them to the more exciting parts of the page.</p>
    <p><a class="btn btn-lg" ng-href="{{baseUrl}}taxa" role="button">Browse taxa »</a></p>
  </div>
</div>
<div id="hm" class="container">
  <!-- Example row of columns -->
  <div class="row home-content">
    <div class="col-md-4">
      <h2><i class="glyphicon glyphicon-tree-deciduous"></i> Taxonomy</h2>
      <p>One for all and all for one, Muskehounds are always ready. One for all and all for one, helping everybody. One for all and all for one, it's a pretty story. Sharing everything with fun, that's the way to be.</p>
      <img ng-src="{{baseUrl}}img/home_sp.jpg" width="90%" height="auto" />
      <p>Muskehounds are always ready. One for all and all for one, helping everybody.</p>
      <p>Mutley, you snickering, floppy eared hound. When courage is needed, you're never around. Those medals you wear on your moth-eaten chest should be there for bungling at which you are best.</p>
    </div>
    <div class="col-md-4">
      <h2><i class="glyphicon glyphicon-globe"></i> Biogeography</h2>
      <p>Barnaby The Bear's my name, never call me Jack or James, I will sing my way to fame, Barnaby the Bear's my name.</p>
      <img ng-src="{{baseUrl}}/img/gbif.png" width="90%" height="auto" />
      <p>Hey there where ya goin', not exactly knowin', who says you have to call just one place home. He's goin' everywhere, B.J. McKay and his best friend Bear. He just keeps on movin', ladies keep improvin', every day is better than the last. New dreams and better scenes, and best of all I don't pay property tax.</p>
    </div>
    <div class="col-md-4">
      <h2><i class="glyphicon glyphicon-tags"></i> About the Project</h2>
      <p>Ulysses, Ulysses - Soaring through all the galaxies. In search of Earth, flying in to the night. Ulysses, Ulysses - Fighting evil and tyranny, with all his power, and with all of his might. Ulysses - no-one else can do the things you do. Ulysses - like a bolt of thunder from the blue. Ulysses - always fighting all the evil forces bringing peace and justice to all.</p>
      <p>Knight Rider, a shadowy flight into the dangerous world of a man who does not exist. Michael Knight, a young loner on a crusade to champion the cause of the innocent, the helpless in a world of criminals who operate above the law.</p>
      <p>Top Cat! The most effectual Top Cat! Who's intellectual close friends get to call him T.C., providing it's with dignity. Top Cat! The indisputable leader of the gang. He's the boss, he's a pip, he's the championship. He's the most tip top, Top Cat.</p>
    </div>
  </div>
  <div ng-dragdealer id="img-chooser" class="pinned logos" resize>
    <ul class="handle" ng-style="{width: (5 * 182) + 82}">
      <li><img ng-src="img/logos/EFForTS.jpg"/></li>
      <li><img ng-src="img/logos/UniGoe.gif"/></li>
      <li><img ng-src="img/logos/Tadulako.jpg"/></li>
      <li><img ng-src="img/logos/IPB.jpg"/></li>
      <li><img ng-src="img/logos/UNJA.jpg"/></li>
    </ul>
  </div>
</div>