<div id="hm" class="container">
  <form id="searchform" action="" method="GET">
    <input class="questions" id="search" name="s" type="text" placeholder="search" ng-model="routeParams['s']" ng-minlength="3">
    <input type="submit" id="qsubm" class="search" value="&#xf002;" />
  </form>
	<div class="search-results">
		<div ng-hide="searchModel.length" class="empty">
			<p class="gray">You need to type at least 3 characters.</p>
		</div>
		<div ng-show="searchModel.length && !filtered.length && loadingResults" class="empty">
			<p class="gray">Loading results for: {{routeParams['s']}}</p>
			<p><img ng-src="{{baseUrl}}img/loader.gif"></p>
		</div>
		<div ng-show="searchModel.length && !filtered.length && !loadingResults" class="empty">
			<p class="gray">No search results for: {{routeParams['s']}}</p>
		</div>
		<div ng-show="searchModel.length && filtered.length" class="num-results">
			<p class="gray">Number of results: {{filtered.length}}</p>
		</div>
		<table ng-show="searchModel.length" class="table table-striped sp-table">
			<tr ng-repeat="spItem in filtered = (dataList.result | filter : searchModel)" ng-click="go('/taxa/' + spItem.family + '/' + spItem.species)" ng-search-results>
				<td class="thumb">
				  <img ng-src="{{baseUrl}}img/{{spItem.preview}}" />
				</td>
				<td>
					<h3><em>{{spItem.species}}</em> <span>{{spItem.author}} &nbsp;&nbsp;</span> <span class="gray">{{spItem.family}}</span></h3>
					<em>comments</em>=&nbsp;"{{spItem.comments}}"; &nbsp;&nbsp; <em>fruit type</em>=&nbsp;"{{spItem.fruit_type}}"; &nbsp;&nbsp; <em>habit</em>=&nbsp;"{{spItem.habit}}"; &nbsp;&nbsp; <em>habitat</em>=&nbsp;"{{spItem.habitat}}"; &nbsp;&nbsp; <em>lifeform</em>=&nbsp;"{{spItem.lifeform}}"; &nbsp;&nbsp; <em>origin</em>=&nbsp;"{{spItem.origin}}";
				</td>
			</tr>
		</table>
	</div>
</div>